/*-------------------- Body --------------------*/

body {
  min-height: 450px;
  height: 100vh;
  margin: 0 0 40px;
  padding: 0;
  background-color: #ffddbc;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

hr {
  margin: 20px 0;
  border: 0;
  height: 1px;
  background: #ffddbc;
}
.wrapper {
  padding-bottom: 40px;
}
.logo-container {
  max-width: 150px;
  margin: 20px auto 0;
}
.logo-container img {
  width: 100%;
}
/*-------------------- Leaderboard --------------------*/
.leaderboard {
  overflow: hidden;
  margin: 20px auto 0;
  padding: 20px 20px 40px;
  background: #f68714;
  border-radius: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}
.leaderboard h1, .leaderboard h2, .leaderboard h3 {
  margin: 0;
  text-align: center;
  font-family: 'Staatliches', sans-serif;

}
.leaderboard h1 {
  font-size: 48px;
}
.leaderboard h2 {
  font-size: 40px;
}
.leaderboard h3 {
  font-size:36px;
}
.text-accent-color {
  color: #c2202b;
}
.text-dark-color {
  color: #000000;
}
.text-light-color {
  color: #ffffff;
}
.confirmation {
  font-size: 9rem;
  color: #28a745;
  text-align: center;
}
.italic {
  font-style: italic;
}
.content {
  margin: 20px 0 0;
}
.spacer {
  margin: 20px 0 0;
}
.spacer-large {
  margin: 40px 0 0;
}
.spacer-small {
  margin: 10px 0 0;
}
.leaderboard img {
  width: 100%;
  display: block;
}
.movie-poster {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 0 auto 20px;
  overflow: hidden;
  width: 75%;
}
.movie-poster-mini {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 20px auto 10px;
  overflow: hidden;
  width: 25%;
}
.main-button {
  display: block;
  margin: 0 auto;
  max-width: 350px;
  background: #c2202b;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.25);
  font-size: 24px;
  padding: 25px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  line-height: 30px;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.main-button:hover {
  box-shadow: none;
}

.main-button:active {
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.25);
}
.main-button span {
  vertical-align: middle;
}
.main-button ion-icon {
  font-size: 30px;
  margin-left: 10px;
  vertical-align: middle;
}
.container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.container-flex .item {
  margin-top: 40px;
  width: 33.33%;
}

.main-container {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 50px;
}

.center-col {
/* Lets middle column shrink/grow to available width */
flex: 1 1 auto;
text-align: center;
}

.left-col, .right-col {
/* Forces side columns to stay same width */
flex: 0 0 50px;
}

.left-col {
text-align: left;
}
.right-col {
text-align: right;
}
.form-container {
  display: flex;
  margin: 0 auto;
  max-width: 390px;
  width: 100%;
  box-sizing: border-box;
}
.form-container .column-left {
  flex: 80%;
}
.form-container .column-right {
  background-color: #c2202b;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.25);
  clip-path: inset(-30px -30px -30px 0);
  display:flex;
  align-items:center;
  justify-content:center;
  font-size: 36px;
  flex: 20%;
  cursor: pointer;
  transition: all 0.1s ease-in;
}
.form-container .column-right:hover ion-icon {
  --ionicon-stroke-width: 50px;
}
.form-container .column-right:active {
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.25), inset 0 2px 5px rgba(0, 0, 0, 0.25);
}
input[type=text] {
  padding:20px;
  border:0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.25);
  clip-path: inset(-30px 0 -30px -30px);
  width: 100%;
  margin: 0 auto;
  font-family:inherit;
  font-size: 24px;
  height: 81px;
  color: #808080;
  box-sizing: border-box;
}
input[type=text]:focus {
  outline: none;
}
::placeholder {
  color: #d3d3d3;
  opacity: 1;
  font-family:inherit;
  font-size: inherit;
}



@media screen and (max-width: 600px) {
  .leaderboard {
    max-width: 350px;
    width: 85% !important;
  }
  .container-flex .item {
    margin-top: 40px;
    width: 100%;
  }
  .movie-poster {
    margin: 0 auto 20px;
    width: 90% !important;
  }
}
@media screen and (min-width: 601px) {
  .leaderboard {
    max-width: 800px;
    width: 85% !important;
  }
}
