/*-------------------- Body --------------------*/

body {
  min-height: 450px;
  height: 100vh;
  margin: 0 0 40px;
  padding: 0;
  background-color: #ffddbc;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

hr {
  margin: 20px 0;
  border: 0;
  height: 1px;
  background: #ffddbc;
}
.wrapper {
  padding-bottom: 40px;
}
.logo-container {
  max-width: 150px;
  margin: 20px auto 0;
}
.logo-container img {
  width: 100%;
}
/*-------------------- Leaderboard --------------------*/
.leaderboard {
  overflow: hidden;
  margin: 20px auto 0;
  padding: 20px 20px 40px;
  background: #f68714;
  border-radius: 10px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, .3);
}
.leaderboard h1, .leaderboard h2, .leaderboard h3 {
  margin: 0;
  text-align: center;
}
.leaderboard h1 {
  font-size: 36px;
}
.leaderboard h2 {
  font-size: 30px;
}
.leaderboard h3 {
  font-size: 24px;
}
.text-accent-color {
  color: #c2202b;
}
.text-dark-color {
  color: #000000;
}
.text-light-color {
  color: #ffffff;
}
.confirmation {
  font-size: 9rem;
  color: #28a745;
  text-align: center;
}
.italic {
  font-style: italic;
}
.content {
  margin: 20px 0 0;
}
.spacer {
  margin: 20px 0 0;
}
.spacer-large {
  margin: 40px 0 0;
}
.spacer-small {
  margin: 10px 0 0;
}
.leaderboard img {
  width: 100%;
  display: block;
}
.movie-poster {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 0 auto 20px;
  overflow: hidden;
  width: 75%;
}
.movie-poster-mini {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 20px auto 10px;
  overflow: hidden;
  width: 25%;
}
.button {
  display: block;
  margin: 0 auto;
  max-width: 350px;
  background: #c2202b;
  border-radius: 10px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, .3);
  font-size: 24px;
  padding: 25px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}
.button:hover {
  background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}
.container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.container-flex .item {
  margin-top: 40px;
  width: 33.33%;
}

.main-container {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 50px;
}

.center-col {
/* Lets middle column shrink/grow to available width */
flex: 1 1 auto;
text-align: center;
}

.left-col, .right-col {
/* Forces side columns to stay same width */
flex: 0 0 50px;
}

.left-col {
text-align: left;
}
.right-col {
text-align: right;
}
.form-container {
  margin: 0 auto;
  max-width: 390px;
  width: 80%;
  box-sizing: border-box;

}
input[type=text] {
  padding:20px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
    width: 100%;
    margin: 0 auto;
    font-family:inherit;
    font-size: 24px;
  height: 78px;
    color: #808080;
    box-sizing: border-box;

}

::placeholder {
  color: #d3d3d3;
  opacity: 1;
  font-family:inherit;
  font-size: inherit;
}



@media screen and (max-width: 600px) {
  .leaderboard {
    max-width: 350px;
    width: 85% !important;
  }
  .container-flex .item {
    margin-top: 40px;
    width: 100%;
  }
  .movie-poster {
    margin: 0 auto 20px;
    width: 90% !important;
  }
}
@media screen and (min-width: 601px) {
  .leaderboard {
    max-width: 800px;
    width: 85% !important;
  }
}
